html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    touch-action: none;
    z-index: 2;
}

div {
    z-index: 2;
}

div.onlyOnHover {
    opacity: 0;
}

div.onlyOnHover:hover {
    opacity: 100;
    transition: opacity 1s;
}

.neon-glow {
    box-shadow: 0 0 15px 10px #48abe0;
}

.rounded-top-2 {
    border-radius: 36px 36px 1px 1px;
}

.rounded-bottom-2 {
    border-radius: 1px 1px 24px 24px;
}

.app-theme {
    background-color: #000033;
}